* {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

body {
  background: rgb(66, 80, 144);
}
/* Enter Player Name Page */

#lets-play {
  font-size: 30px;
  color: white;
  margin: 100px;
  margin-bottom: 50px;
  text-align: center;
}
#game-title-enter-player-page {
  color: white;
  text-align: center;
  font-size: 30px;
}

#game-tag {
  font-size: 30px;
  display: inline-block;
  margin-top: 50px;
}
#player-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 100px;
}

.enter-name-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  margin-top: 10px;
}

input {
  font-size: 15px;
  text-align: center;
  width: 50%;
  border-radius: 5px;
}

#enterNameBtn {
  width: 50%;
  border-radius: 5px;
  border: 0.5px white solid;
}

#enterNameBtn:hover {
  background: rgb(91, 233, 91);
}

#play-game-btn {
  width: 50%;
  border-radius: 5px;
  border: solid white 0.5px;
  text-decoration: none;
  text-align: center;
  background: white;
  color: black;
  font-size: 30px;
  margin-top: 5px;
}

#play-game-btn:hover {
  background: rgb(91, 233, 91);
  color: white;
}
/* Start Game Page */

#game-rules h2 {
  color: white;
  text-align: center;
  border: 0.5px white solid;
  background: rgb(66, 80, 144);
  margin: 25px auto 0;
  margin-top: 100px;
  width: 80%;
  max-width: 500px;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

#start-game-btn {
  color: white;
  font-size: 30px;
  background: rgb(66, 80, 144);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 25px auto 0;
  width: 80%;
  max-width: 500px;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid white;
  cursor: pointer;
  text-decoration: none;
}

#start-game-btn:hover {
  background: rgb(91, 233, 91);
}

/* Game Play Page */

style.background-image {
  background-repeat: none;
}

.game-status-box {
  background: rgb(66, 80, 144);
  color: rgb(66, 80, 144);
  margin: 25px auto 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

#score {
  background: white;
  text-align: center;
  margin: 25px;
  max-width: 250px;
  border-radius: 10px;
  border: 0.5px solid;
  padding: 10px;
}

#playerNameBox {
  background: white;
  text-align: center;
  margin: 25px;
  max-width: 250px;
  border-radius: 10px;
  border: 0.5px solid;
  padding: 10px;
}

#round-count {
  background: white;
  text-align: center;
  margin: 25px;
  max-width: 250px;
  border-radius: 10px;
  border: 0.5px solid;
  padding: 10px;
}

#question-count {
  background: white;
  text-align: center;
  margin: 25px;
  max-width: 250px;
  border-radius: 10px;
  border: 0.5px solid;
  padding: 10px;
}
.game-box {
  background: rgb(66, 80, 144);
  color: white;
  text-align: center;
  margin: 100px auto 0;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  border: solid white 0.5px;
  padding: 10px;
}

.question-answer h2 {
  font-weight: 20px;
  font-size: 25px;
  color: white;
  font-weight: 500;
  padding: 25px 0;
  border-top: 25px;
  border-bottom: 25px;
  margin: 5px;
}

.answer-box {
  background: rgb(66, 80, 144);
  color: white;
  text-align: center;
  margin: 25px auto 0;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  border: solid white 0.5px;
  padding: 10px;
}

.btn {
  background: white;
  color: black;
  font-weight: 500;
  font-size: 20px;
  width: 80%;
  border: 0.5px solid;
  border-radius: 6px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: 0.4;
}

.btn:hover {
  box-shadow: 0 0.2rem 1.2rem 0;
}

.btn:hover([disabled]) {
  background: #0910ee;
  color: white;
}

.btn:disabled {
  cursor: no-drop;
  box-shadow: none;
}

#skip-btn {
  background: white;
  color: black;
  font-weight: 500;
  font-size: 20px;
  width: 50%;
  border: 0.5px solid;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4;
  display: flex;
  justify-content: center;
}

#skip-btn:hover {
  background: rgb(91, 233, 91);
  color: black;
  box-shadow: 0 0.2rem 1.2rem 0;
}

.correct {
  background: rgb(91, 233, 91);
}

.incorrect {
  background: rgb(239, 125, 125);
}

#winner-message {
  color: white;
  display: none;
}
