* {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

body {
  background: #0910ee;
}

style.background-image {
  background-repeat: no-repeat;
}
.game-status-box {
  background: rgb(66, 80, 144);
  color: rgb(66, 80, 144);
  margin: 25px auto 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#score {
  background: white;
  text-align: center;
  margin: 25px;
  max-width: 250px;
  border-radius: 10px;
  border: 0.5px solid;
  padding: 10px;
}

#player-name {
  background: white;
  text-align: center;
  margin: 25px;
  max-width: 250px;
  border-radius: 10px;
  border: 0.5px solid;
  padding: 10px;
}

#round-count {
  background: white;
  text-align: center;
  margin: 25px;
  max-width: 250px;
  border-radius: 10px;
  border: 0.5px solid;
  padding: 10px;
}

#question-count {
  background: white;
  text-align: center;
  margin: 25px;
  max-width: 250px;
  border-radius: 10px;
  border: 0.5px solid;
  padding: 10px;
}
.game-box {
  background: rgb(66, 80, 144);
  color: white;
  text-align: center;
  margin: 100px auto 0;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  padding: 10px;
}

.question-answer h2 {
  font-weight: 20px;
  color: white;
  font-weight: 500;
  padding: 25px 0;
  border-top: 25px;
  border-bottom: 25px;
  margin: 5px;
}

.answer-box {
  background: rgb(66, 80, 144);
  color: white;
  text-align: center;
  margin: 25px auto 0;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  padding: 10px;
}

.btn {
  background: white;
  color: black;
  font-weight: 500;
  width: 80%;
  border: 0.5px solid;
  border-radius: 6px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: 0.4;
}

.btn:hover {
  background: #0910ee;
  color: white;
}

#skip-btn {
  background: white;
  color: black;
  font-weight: 500;
  width: 100px;
  border: 0.5px solid;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4;
  display: flex;
  justify-content: center;
}

#skip-btn:hover {
  background: rgb(233, 90, 90);
  color: white;
}
